body{
    background-color: palevioletred;
}
h1{
    text-align: center;


}
.bord{
   text-align: center;
    border-radius: 20px;
    border: 2px solid black;
    margin: 30px;
    background-color: white;
}